<!-- <button mat-button
            [color]="buttonConfig().color"
            [disabled]="buttonConfig().disabled"
            [type]="buttonConfig().type"
            [ngClass]="{
              'mat-flat-button': buttonConfig().variant === 'flat',
              'mat-raised-button': buttonConfig().variant === 'raised',
              'mat-stroked-button': buttonConfig().variant === 'stroked',
              'mat-icon-button': buttonConfig().variant === 'icon'
            }"
            [style]="buttonConfig().style">
      <ng-content></ng-content>
    </button> -->