<div>
    <splide #splideRef class="hero-slider" [options]="{ 
      type: 'fade',
      fixedHeight : '680px',
      width: '100%', 
      perPage: 1, 
      keyboard: false 
    }">
    <splide-slide class="hero-slider">
      <img class="h-auto w-full " src="assets/images/shoe7.jpg" alt="" />
    </splide-slide>
    <splide-slide class="hero-slider">
      <img class="h-auto w-full " src="assets/images/shoe1.jpg" alt="" />
    </splide-slide>
    <splide-slide class="hero-slider">
      <img class="h-auto w-full" src="assets/images/shoe9.jpg" alt="" />
    </splide-slide>
    <splide-slide class="hero-slider">
      <img class="h-auto w-full" src="assets/images/shoe8.jpg" alt="" />
    </splide-slide>
    <splide-slide class="hero-slider">
      <img class="h-auto w-full" src="assets/images/shoe9.jpg" alt="" />
    </splide-slide>
    <splide-slide class="hero-slider">
      <img class="h-auto w-full" src="assets/images/shoe10.jpg" alt="" />
    </splide-slide>
    
    </splide>
    </div>