<nav>
    <div class="bg-blue-50">
        <mat-toolbar class="w-full flex items-center justify-between">
            <span class="text-lg font-semibold text-blue-500">Ecostore</span>
            <span class="example-spacer"></span>
            <div class="">
              <button mat-icon-button class="example-icon search-icon" aria-label="Example icon-button with heart icon">
                <mat-icon>search</mat-icon>
              </button>
              <button (click)="toggleSidenav()" mat-icon-button class="example-icon" aria-label="shopping-cart">
                <mat-icon >shopping_bag</mat-icon>
              </button>
            </div>
          </mat-toolbar>
    </div>
   
</nav>