
.product-slider {
    margin: 2rem auto;
    display: flex;
    align-items: center;
    justify-content: start;
  
    .product-card {
      background: #fff;
      border: 1px solid #ddd;
      border-radius: 8px;
      padding: 1rem;
      text-align: center;
  
      img {
        max-width: 100%;
        height: auto;
        border-radius: 8px;
      }
  
      .product-info {
        margin-top: 1rem;
  
        .product-name {
          font-size: 1rem;
          font-weight: bold;
          margin-bottom: 0.5rem;
        }
  
        .price {
          .old-price {
            text-decoration: line-through;
            color: #888;
            margin-right: 0.5rem;
          }
  
          .new-price {
            color: #e60023;
            font-weight: bold;
          }
        }
  
        .rating {
          margin: 0.5rem 0;
          color: #f39c12;
        }
  
        .feature {
          color: #555;
          font-size: 0.875rem;
        }
      }
    }
  }
  

  .example-label {
    display: table-cell;
    font-size: 14px;
    margin-left: 8px;
    min-width: 120px;
  }
  
  .example-button-row {
    display: table-cell;
    max-width: 600px;
  }
  
  .example-button-row .mat-mdc-button-base {
    margin: 8px 8px 8px 0;
  }
  
  .example-flex-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  .example-button-container {
    display: flex;
    justify-content: center;
    width: 140px;
  }

  .mat-button, .mat-raised-button, .mat-stroked-button, .mat-flat-button, .mat-icon-button{
    font-family: 'Inter', sans-serif !important; 
  }

  
  button {
    font-family: 'Inter' !important;
    transition: all 0.3s ease;
  
    &:hover {
      opacity: 0.9; // Slight opacity on hover
    }
  
    &:disabled {
      cursor: not-allowed;
      opacity: 0.5;
    }
  
    /* Add specific styles if necessary for custom button variants */
    &.mat-flat-button {
      font-family: 'Inter';
    }
  
    &.mat-raised-button {
      /* Additional styles for mat-raised-button */
      font-family: 'Inter';
    }
  
    &.mat-stroked-button {
      /* Additional styles for mat-stroked-button */
    }
  
    &.mat-icon-button {
      /* Additional styles for mat-icon-button */
    }
  
    &.mat-fab {
      /* Additional styles for mat-fab */
    }
  
    &.mat-mini-fab {
      /* Additional styles for mat-mini-fab */
    }
  }
  
.mat-drawer-inner-container{
  width: 300px !important;
  height: 100vh !important;
  background-color: red !important;
}